*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to bottom, #0d0d2b, #000000); */
  /* color: white; */
}

/* colors */
:root {
    --primary-color: #6c63ff;
    --primary-color-hover: #584ff8;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-hover);
}

/* navbar */

.navbar {
  position: fixed;
  top: 40px; /* Added more margin-top */
  left: 20px;
  right: 20px;
  padding: 10px 20px;
  margin: 0 60px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  transition: background 0.3s, color 0.1s, top 0.3s, left 0.3s, right 0.3s,
    padding 0.3s, margin 0.3s, box-shadow 0.3s;
  z-index: 1000;

  border: 2px solid red;
}

.navbar.sticky {
  background: white;
  /* backdrop-filter: blur(20px); */
  color: var(--primary-color);
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* White shadow */
}

.navbar a {
  color: inherit; /* Use inherit to ensure color change on scroll */
  text-decoration: none;
  font-weight: 600;
  margin: 0 15px;
  transition: color 0.3s;
}




/* home */

#home{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
    padding-top: 50px;
}

.home-content{
    border: 2px solid black;
    height: min-content;
}

.home-svg{
    height: 70vh;
    width: auto;
    border: 2px solid blue;
    margin: 0 50px 0 50px;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40vw;
    /* margin-bottom: 100px; */
}

.home-heading{
    border: 2px solid red;
    margin: 0 0 20px 0;
}
.home-heading-1{
    font-size: 2.2rem;
    font-weight: 600;
}
.home-heading-2{
    font-size: 3rem;
    font-weight: 600;
}

.home-text{
    border: 2px solid green;
    width: 80%;
    font-size: 1.2rem;
}


/* about */

#about{
    border: 2px solid red;
    margin: 100px 0 0 0;
    width: 70vw;
    display: flex;
    justify-content: left;
    align-items: center;
    /* height: 80vh; */
}

.about-content{
    width: 50%;
    border: 2px solid green;
}
.heading{
  font-size: 2.5rem;
  font-weight: 600;
}
.about-heading{
    border: 2px solid cyan;
}
.about-text{
    padding: 50px 0 0 0;
    font-size: 1.1rem;
}

.about-svg{
    height: 45vh;
    border: 2px solid blue;
    margin: 0 0 0 5vw; 
}


/* workflow */

#workflow{
    margin: 150px 0 0 0;
    width: 100vw;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workflow-heading{
    width: 70vw;
    border: 2px solid green;
    display: flex;
    justify-content: right;
}

/* timeline */
.workflow-timeline{
  padding: 5em 0;
  border: 2px solid red;
  width: 85vw;
}

.main-timeline-section{
  position: relative; 
  width: 100%;  
  margin:auto; 
  height:300px;
}
.main-timeline-section .timeline-start,
.main-timeline-section .timeline-end{
  position: absolute;
  background: var(--primary-color);
  border: 3px solid #FFF;
  border-radius:100px;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  height:30px;
  z-index: 10;
}
.main-timeline-section .timeline-end{
  right:0px;
}
.main-timeline-section .conference-center-line{
  position: absolute;
  width:100%;
  height:5px;
  top:50%;
  transform: translateY(-50%);
  background: var(--primary-color);
}
.timeline-article{
    width: 20%;
    position: relative;
    min-height: 300px;
    float:right;
}
.timeline-article .content-date {
    position: absolute;
    top: 35%;
    left: -30px; 
    font-size:18px;
}
.timeline-article .meta-date {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%); 
    width:20px;
    height:20px;
    border-radius: 100%;
    background: var(--primary-color);
    border:3px solid #FFF;
}
.timeline-article .content-box {
/*   box-shadow: 2px 2px 4px 0px #888; */
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  background-color: #FFF;
  width: 180px;
  position: absolute;
  top: 60%;
  left: -80px; 
  padding:10px;
  color: #1F1F1F;
  text-align: center;
}
.timeline-article-top .content-box:before {
  content: " ";
  position:absolute; 
  left:50%;
  transform: translateX(-50%);
  top:-20px;
  border:10px solid transparent;
  border-bottom-color: var(--primary-color);
}
.timeline-article-bottom .content-date {
  top: 59%;
}
.timeline-article-bottom .content-box {
  top: 25%;
}
.timeline-article-bottom .content-box:before {
  content: " ";
  position:absolute; 
  left:50%;
  transform: translateX(-50%);
  bottom:-20px;
  border:10px solid transparent;
  border-top-color: var(--primary-color);
}


/* pricing */

#pricing{
  margin: 100px 0 0 0;
  width: 70vw;
  border: 2px solid red;
}
.pricing-heading{
  border: 2px solid red;
}
.pricing-container{
  display: flex;
  justify-content: center ;
}
.plan-container{
  width: fit-content;
  margin: 35px;
  border: 2px solid var(--primary-color);
  /* padding: 50px; */
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.plan-name{
  /* border: 2px solid blue; */
  font-size: 1.5rem;
  font-weight: 550;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
  color: var(--primary-color);
}

.plan-price{
  font-size: 1.6rem;
  font-weight: 400;
  /* border: 2px solid black; */
  padding: 0 20px 0 20px;
}
.plan-delivery{
  padding: 0 20px 0 20px;
  /* border: 2px solid red; */
  margin-top: 2px;
}

.plan-features{
  margin-top: 30px;
  margin-bottom: 50px;
  /* border: 2px solid cyan; */
  padding: 0 30px 0 50px;
}
.plan-features li{
  margin: 10px 0 15px 0;
}